In [1]:
import pandas as pd

In [53]:
df1 = pd.read_csv("./data/estat_eqfreq.csv", header=0)
df2 = pd.read_csv("./data/area_mappingdata.csv", header=0)
df2_area = df2[['area']]

In [54]:
df2

,Unnamed: 0,area,A_可住地面積１k.当たり人口密度,A_昼夜間人口比率,A_外国人人口.人口１０万人当たり.,A_１５歳未満人口割合,A_１５.６４歳人口割合,A_６５歳以上人口割合,A_未婚者割合.15歳以上人口.,A_人口増減率,...,育児困難感_感情コントロール,育児困難感_システム化衝動,育児困難感_同時・全体処理,育児困難感_同調困難,育児困難感_愛着の問題,育児困難感_自信のなさ,育児困難感_対処可能性,育児困難感_子供への愛着,育児困難感_自己肯定感,育児困難感_自責感
0,1,1101,8856.8,162.7,795.8,10.099,67.475,21.267,36.29654,7.92,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1102,4515.3,95.9,709.0,11.536,62.719,24.169,30.80597,2.35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1103,4598.2,94.6,428.0,11.728,64.259,23.461,30.39551,2.36,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1104,6090.8,98.6,283.9,11.256,65.310,22.845,31.27262,2.61,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,1105,7851.1,88.8,512.2,10.915,65.287,23.534,32.14211,3.08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1863,1864,47361,194.0,100.5,438.4,15.706,57.705,26.460,27.68735,-8.97,...,3.0,2.75,3.75,2.0,1.0,2.75,1.75,1.0,2.0,2.25
1864,1865,47362,1163.1,86.0,206.4,18.286,61.969,19.301,30.53678,8.94,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1865,1866,47375,75.2,98.8,1172.5,17.420,56.198,26.382,24.44219,-3.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1866,1867,47381,70.7,105.0,950.5,17.009,61.756,19.960,31.14600,3.60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1867,1868,47382,151.2,102.6,596.9,12.534,68.964,18.502,26.81564,11.23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
df2_area

       area
0      1101
1      1102
2      1103
3      1104
4      1105
...     ...
1863  47361
1864  47362
1865  47375
1866  47381
1867  47382

[1868 rows x 1 columns]

In [56]:
df = pd.concat([df2_area, df1], axis=1)
df = df.drop('Unnamed: 0', axis=1)

In [57]:
df

,area,A_可住地面積１k㎡当たり人口密度,A_昼夜間人口比率,A_外国人人口（人口１０万人当たり）,A_１５歳未満人口割合,A_１５～６４歳人口割合,A_６５歳以上人口割合,A_未婚者割合（15歳以上人口）,A_人口増減率,A_転入超過率,...,F_高齢就業者割合［６５歳以上］,G_公民館数（人口100万人当たり）,G_図書館数（人口100万人当たり）,H_小売店数（人口千人当たり）,H_飲食店数（人口千人当たり）,H_大型小売店数（人口10万人当たり）,H_百貨店，総合スーパー数（人口10万人当たり）,I_一般病院数（人口10万人当たり）,I_一般診療所数（人口10万人当たり）,J_介護老人福祉施設（65歳以上人口10万人当たり）
0,1101,10,10,6,2,10,1,10,10,10,...,2,1,3,9,10,10,10,9,10,1
1,1102,9,5,6,5,10,2,10,9,10,...,1,1,3,1,4,9,7,7,4,2
2,1103,9,5,4,5,10,2,10,10,10,...,1,1,3,1,2,10,8,8,2,2
3,1104,10,7,2,4,10,2,10,10,9,...,1,1,3,1,3,7,6,8,2,2
4,1105,10,3,4,4,10,2,10,10,9,...,1,2,3,1,2,9,7,6,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1863,47361,2,8,4,10,6,3,9,2,3,...,9,1,9,10,10,1,1,9,2,9
1864,47362,7,2,1,10,9,1,10,10,10,...,1,3,1,2,1,5,10,4,1,7
1865,47375,1,7,8,10,5,3,6,6,1,...,10,1,10,9,6,1,1,1,7,1
1866,47381,1,9,7,10,9,1,10,10,10,...,10,1,1,9,10,1,1,1,10,10
1867,47382,2,9,5,7,10,1,8,10,9,...,10,9,1,10,10,1,1,1,9,10

In [58]:
df.to_csv("./data/estat_eqfreq_areacode.csv", index=False)

In [46]:
df1 = pd.read_csv("./data/estat_eqfreq.csv", header=0)
df1.columns

Index(['Unnamed: 0', 'A_可住地面積１k㎡当たり人口密度', 'A_昼夜間人口比率', 'A_外国人人口（人口１０万人当たり）',
       'A_１５歳未満人口割合', 'A_１５～６４歳人口割合', 'A_６５歳以上人口割合', 'A_未婚者割合（15歳以上人口）',
       'A_人口増減率', 'A_転入超過率', 'A_転入率', 'A_転出率', 'A_核家族世帯割合', 'A_高齢夫婦のみの世帯の割合',
       'A_高齢単身世帯の割合', 'B_総面積（都道府県面積に占める割合）', 'B_可住地面積割合',
       'C_商業年間商品販売額［卸売業＋小売業］（従業者１人当たり）', 'C_商業年間商品販売額［卸売業＋小売業］（事業所当たり）',
       'E_小学校数（可住地面積100k㎡当たり）', 'E_中学校数（可住地面積100k㎡当たり）',
       'E_高等学校数（可住地面積100k㎡当たり）', 'F_就業者比率', 'F_第１次産業就業者比率（対就業者）',
       'F_第２次産業就業者比率（対就業者）', 'F_第３次産業就業者比率（対就業者）', 'F_第２次産業及び第３次産業就業者比率（対就業者）',
       'F_完全失業率', 'F_他市区町村への通勤者比率', 'F_他市区町村からの通勤者比率', 'F_高齢就業者割合［６５歳以上］',
       'G_公民館数（人口100万人当たり）', 'G_図書館数（人口100万人当たり）', 'H_小売店数（人口千人当たり）',
       'H_飲食店数（人口千人当たり）', 'H_大型小売店数（人口10万人当たり）', 'H_百貨店，総合スーパー数（人口10万人当たり）',
       'I_一般病院数（人口10万人当たり）', 'I_一般診療所数（人口10万人当たり）',
       'J_介護老人福祉施設（65歳以上人口10万人当たり）'],
      dtype='object')

In [36]:
column_translation = {
    'A_可住地面積１k㎡当たり人口密度': 'Population Density per 1km² of Habitable Area',
    'A_昼夜間人口比率': 'Daytime to Nighttime Population Ratio',
    'A_外国人人口（人口１０万人当たり）': 'Foreign Population (per 100,000 People)',
    'A_１５歳未満人口割合': 'Population Under 15 Years Old Percentage',
    'A_１５～６４歳人口割合': 'Population Between 15 and 64 Years Old Percentage',
    'A_６５歳以上人口割合': 'Population Over 65 Years Old Percentage',
    'A_未婚者割合（15歳以上人口）': 'Unmarried Population Percentage (15 and Over)',
    'A_人口増減率': 'Population Growth Rate',
    'A_転入超過率': 'Net Migration Rate',
    'A_転入率': 'In-Migration Rate',
    'A_転出率': 'Out-Migration Rate',
    'A_核家族世帯割合': 'Nuclear Family Household Percentage',
    'A_高齢夫婦のみの世帯の割合': 'Elderly Couples-Only Household Percentage',
    'A_高齢単身世帯の割合': 'Elderly Single-Person Household Percentage',
    'B_総面積（都道府県面積に占める割合）': 'Total Area (Percentage of Prefectural Area)',
    'B_可住地面積割合': 'Habitable Area Percentage',
    'C_商業年間商品販売額［卸売業＋小売業］（従業者１人当たり）': 'Annual Commercial Sales per Employee (Wholesale + Retail)',
    'C_商業年間商品販売額［卸売業＋小売業］（事業所当たり）': 'Annual Commercial Sales per Establishment (Wholesale + Retail)',
    'E_小学校数（可住地面積100k㎡当たり）': 'Number of Elementary Schools (per 100km² of Habitable Area)',
    'E_中学校数（可住地面積100k㎡当たり）': 'Number of Middle Schools (per 100km² of Habitable Area)',
    'E_高等学校数（可住地面積100k㎡当たり）': 'Number of High Schools (per 100km² of Habitable Area)',
    'F_就業者比率': 'Employment Rate',
    'F_第１次産業就業者比率（対就業者）': 'Primary Sector Employment Rate (as a Percentage of Total Employment)',
    'F_第２次産業就業者比率（対就業者）': 'Secondary Sector Employment Rate (as a Percentage of Total Employment)',
    'F_第３次産業就業者比率（対就業者）': 'Tertiary Sector Employment Rate (as a Percentage of Total Employment)',
    'F_第２次産業及び第３次産業就業者比率（対就業者）': 'Secondary and Tertiary Sector Employment Rate (as a Percentage of Total Employment)',
    'F_完全失業率': 'Unemployment Rate',
    'F_他市区町村への通勤者比率': 'Commuters to Other Municipalities Rate',
    'F_他市区町村からの通勤者比率': 'Commuters from Other Municipalities Rate',
    'F_高齢就業者割合［６５歳以上］': 'Elderly Employment Rate [65 and Over]',
    'G_公民館数（人口100万人当たり）': 'Community Centers (per 1 Million People)',
    'G_図書館数（人口100万人当たり）': 'Libraries (per 1 Million People)',
    'H_小売店数（人口千人当たり）': 'Retail Stores (per 1,000 People)',
    'H_飲食店数（人口千人当たり）': 'Restaurants (per 1,000 People)',
    'H_大型小売店数（人口10万人当たり）': 'Large Retail Stores (per 100,000 People)',
    'H_百貨店，総合スーパー数（人口10万人当たり）': 'Department Stores and General Supermarkets (per 100,000 People)',
    'I_一般病院数（人口10万人当たり）': 'General Hospitals (per 100,000 People)',
    'I_一般診療所数（人口10万人当たり）': 'General Clinics (per 100,000 People)',
    'J_介護老人福祉施設（65歳以上人口10万人当たり）': 'Elderly Care Facilities (per 100,000 People)'
}

In [47]:
column_translation = {
    'A_可住地面積１k㎡当たり人口密度': 'A1',
    'A_昼夜間人口比率': 'A2',
    'A_外国人人口（人口１０万人当たり）': 'A3',
    'A_１５歳未満人口割合': 'A4',
    'A_１５～６４歳人口割合': 'A5',
    'A_６５歳以上人口割合': 'A6',
    'A_未婚者割合（15歳以上人口）': 'A7',
    'A_人口増減率': 'A8',
    'A_転入超過率': 'A9',
    'A_転入率': 'A10',
    'A_転出率': 'A11',
    'A_核家族世帯割合': 'A12',
    'A_高齢夫婦のみの世帯の割合': 'A13',
    'A_高齢単身世帯の割合': 'A14',
    'B_総面積（都道府県面積に占める割合）': 'B1',
    'B_可住地面積割合': 'B2',
    'C_商業年間商品販売額［卸売業＋小売業］（従業者１人当たり）': 'C1',
    'C_商業年間商品販売額［卸売業＋小売業］（事業所当たり）': 'C2',
    'E_小学校数（可住地面積100k㎡当たり）': 'E1',
    'E_中学校数（可住地面積100k㎡当たり）': 'E2',
    'E_高等学校数（可住地面積100k㎡当たり）': 'E3',
    'F_就業者比率': 'Employment Rate',
    'F_第１次産業就業者比率（対就業者）': 'F1',
    'F_第２次産業就業者比率（対就業者）': 'F2',
    'F_第３次産業就業者比率（対就業者）': 'F3',
    'F_第２次産業及び第３次産業就業者比率（対就業者）': 'F4',
    'F_完全失業率': 'F5',
    'F_他市区町村への通勤者比率': 'F6',
    'F_他市区町村からの通勤者比率': 'F7',
    'F_高齢就業者割合［６５歳以上］': 'F8',
    'G_公民館数（人口100万人当たり）': 'G1',
    'G_図書館数（人口100万人当たり）': 'G2',
    'H_小売店数（人口千人当たり）': 'H1',
    'H_飲食店数（人口千人当たり）': 'H2',
    'H_大型小売店数（人口10万人当たり）': 'H3',
    'H_百貨店，総合スーパー数（人口10万人当たり）': 'H4',
    'I_一般病院数（人口10万人当たり）': 'I1',
    'I_一般診療所数（人口10万人当たり）': 'I2',
    'J_介護老人福祉施設（65歳以上人口10万人当たり）': 'J1'
}

In [48]:
column_translation

{'A_可住地面積１k㎡当たり人口密度': 'A1',
 'A_昼夜間人口比率': 'A2',
 'A_外国人人口（人口１０万人当たり）': 'A3',
 'A_１５歳未満人口割合': 'A4',
 'A_１５～６４歳人口割合': 'A5',
 'A_６５歳以上人口割合': 'A6',
 'A_未婚者割合（15歳以上人口）': 'A7',
 'A_人口増減率': 'A8',
 'A_転入超過率': 'A9',
 'A_転入率': 'A10',
 'A_転出率': 'A11',
 'A_核家族世帯割合': 'A12',
 'A_高齢夫婦のみの世帯の割合': 'A13',
 'A_高齢単身世帯の割合': 'A14',
 'B_総面積（都道府県面積に占める割合）': 'B1',
 'B_可住地面積割合': 'B2',
 'C_商業年間商品販売額［卸売業＋小売業］（従業者１人当たり）': 'C1',
 'C_商業年間商品販売額［卸売業＋小売業］（事業所当たり）': 'C2',
 'E_小学校数（可住地面積100k㎡当たり）': 'E1',
 'E_中学校数（可住地面積100k㎡当たり）': 'E2',
 'E_高等学校数（可住地面積100k㎡当たり）': 'E3',
 'F_就業者比率': 'Employment Rate',
 'F_第１次産業就業者比率（対就業者）': 'F1',
 'F_第２次産業就業者比率（対就業者）': 'F2',
 'F_第３次産業就業者比率（対就業者）': 'F3',
 'F_第２次産業及び第３次産業就業者比率（対就業者）': 'F4',
 'F_完全失業率': 'F5',
 'F_他市区町村への通勤者比率': 'F6',
 'F_他市区町村からの通勤者比率': 'F7',
 'F_高齢就業者割合［６５歳以上］': 'F8',
 'G_公民館数（人口100万人当たり）': 'G1',
 'G_図書館数（人口100万人当たり）': 'G2',
 'H_小売店数（人口千人当たり）': 'H1',
 'H_飲食店数（人口千人当たり）': 'H2',
 'H_大型小売店数（人口10万人当たり）': 'H3',
 'H_百貨店，総合スーパー数（人口10万人当たり）': 'H4',
 'I_一般病院数（人口10万人当たり）': 'I1',
 'I_一般診療所数（人口10万人当たり）': 'I2',
 'J_介護老人福祉施設（65歳以上人口10万人当たり）': 'J1'}

In [49]:
# df1の列名を英語に変換
df1.rename(columns=column_translation, inplace=True)

# 変換後のデータフレームを表示
df1

,Unnamed: 0,A1,A2,A3,A4,A5,A6,A7,A8,A9,...,F8,G1,G2,H1,H2,H3,H4,I1,I2,J1
0,1,10,10,6,2,10,1,10,10,10,...,2,1,3,9,10,10,10,9,10,1
1,2,9,5,6,5,10,2,10,9,10,...,1,1,3,1,4,9,7,7,4,2
2,3,9,5,4,5,10,2,10,10,10,...,1,1,3,1,2,10,8,8,2,2
3,4,10,7,2,4,10,2,10,10,9,...,1,1,3,1,3,7,6,8,2,2
4,5,10,3,4,4,10,2,10,10,9,...,1,2,3,1,2,9,7,6,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1863,1864,2,8,4,10,6,3,9,2,3,...,9,1,9,10,10,1,1,9,2,9
1864,1865,7,2,1,10,9,1,10,10,10,...,1,3,1,2,1,5,10,4,1,7
1865,1866,1,7,8,10,5,3,6,6,1,...,10,1,10,9,6,1,1,1,7,1
1866,1867,1,9,7,10,9,1,10,10,10,...,10,1,1,9,10,1,1,1,10,10
1867,1868,2,9,5,7,10,1,8,10,9,...,10,9,1,10,10,1,1,1,9,10

In [50]:
df = pd.concat([df2_area, df1], axis=1)
df = df.drop('Unnamed: 0', axis=1)
df

,area,A1,A2,A3,A4,A5,A6,A7,A8,A9,...,F8,G1,G2,H1,H2,H3,H4,I1,I2,J1
0,1101,10,10,6,2,10,1,10,10,10,...,2,1,3,9,10,10,10,9,10,1
1,1102,9,5,6,5,10,2,10,9,10,...,1,1,3,1,4,9,7,7,4,2
2,1103,9,5,4,5,10,2,10,10,10,...,1,1,3,1,2,10,8,8,2,2
3,1104,10,7,2,4,10,2,10,10,9,...,1,1,3,1,3,7,6,8,2,2
4,1105,10,3,4,4,10,2,10,10,9,...,1,2,3,1,2,9,7,6,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1863,47361,2,8,4,10,6,3,9,2,3,...,9,1,9,10,10,1,1,9,2,9
1864,47362,7,2,1,10,9,1,10,10,10,...,1,3,1,2,1,5,10,4,1,7
1865,47375,1,7,8,10,5,3,6,6,1,...,10,1,10,9,6,1,1,1,7,1
1866,47381,1,9,7,10,9,1,10,10,10,...,10,1,1,9,10,1,1,1,10,10
1867,47382,2,9,5,7,10,1,8,10,9,...,10,9,1,10,10,1,1,1,9,10

In [52]:
df.to_csv("./data/estat_eqfreq_areacode.csv", index=False)